html {
    scroll-behavior: smooth;
  }
  
  .kanban-frame{
    position: relative;
    width:100%;
    display:block;
    height: 30vh;
    object-fit: cover;
  }

  .avatar-frame{
    position:relative;
    vertical-align: middle;
    top:-120px;
    width: 200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }

  .bg-style{
    position:absolute;
    background-color: aquamarine;
    left:0;
    top: 31vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .dot{
    position: absolute;
    width: 20px; 
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    mix-blend-mode: difference;
  }

  #title{
    position: absolute;
    top: 30vh;
    left: 220px;
    font-size: large;
    width: 400px;
    white-space: pre-wrap;
    word-break: break-word;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 4em;
    font-weight:100px;
    margin: 0px;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
  }

  #list{
    position:fixed;
    top: 40vh;
    right: 5vw;
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 250px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }

  a{
    height: 0px;
    border-width: 0px 0px 1px;
    text-decoration : none
  } 
  a:hover{
    height: 0px;
    color: #ffffff;
    cursor: pointer;
    -webkit-text-stroke: 0.5px #000000;
    text-decoration : none
  }

  #section1{
    height: 600px;
    width: 90vw; 
    position:relative;
    top: 0px;
    background-color: aquamarine;
  }
  #section2{
    height: 600px;
    width: 90vw; 
    position: relative;
    top: 20px;
    background-color: aquamarine;
  }
